.card-wrapper {
  width: 250px;
  height: 400px;
  background: white;
  border-radius: 8px;
  border: 2px solid gray;
  margin: 1px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    border-width: 2px;
    border-color: black;
  }

  .card-content {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .card-top-value {
    float: right;
  }
  .card-bottom-value {
    transform: rotate(180deg);
    bottom: 0;
  }
  .card-center-symbole-large {
    font-size: 200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
