<div class="card-wrapper {{_card?.getCategory()}}">
  <div class="card-content">
    <div class="card-top-value">
      <div class="card-number">{{_card?.getName()}}</div>
      <div class="card-symbol">{{_card?.getCategory()}}</div>
    </div>
    <div *ngIf="_card?.getName()=='A'" class="card-symbole large center">
      {{_card?.getCategory()}}
    </div>
    <div *ngIf="_card?.getName()=='J'" class="card-symbole large center">
      {{_card?.getCategory()}}
      <!-- Add Jota card design -->
    </div>
    <div *ngIf="_card?.getName()=='Q'" class="card-symbole large center">
      {{_card?.getCategory()}}
      <!-- Add Queen card design-->
    </div>
    <div *ngIf="convertStringToNumber(_card?.getName()) && convertStringToNumber(_card?.getName()) >1"
      class="card-symbole center">
      <ng-container *ngFor="let i of createRange(convertStringToNumber(_card?.getName()))">
        {{_card?.getCategory()}}
      </ng-container>

    </div>
    <div class="card-bottom-value">
      <div class="card-number">{{_card?.getName()}}</div>
      <div class="card-symbol">{{_card?.getCategory()}}</div>
    </div>
  </div>
</div>
