.card-wrapper {
  width: 250px;
  height: 400px;
  background: white;
  border-radius: 8px;
  border: 2px solid gray;
  margin: 1px;
  padding: 10px;
  font-size: 25px;
  &.♥,
  &.♦ {
    color: red;
  }

  cursor: pointer;
  &:hover {
    border-width: 2px;
    border-color: black;
  }

  .card-content {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .card-top-value {
    float: right;
    text-align: center;
  }
  .card-bottom-value {
    transform: rotate(180deg);
    text-align: center;
    bottom: 0;
  }
  .card-symbole {
    width: 100%;
    display: flex;
    font-size: 60px;

    &.large {
      font-size: 200px;
    }
    &.center {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      text-align: center;
    }
  }
}
