<section *ngIf="!_hidden" class="{{cardClass}}" [ngClass]="{'selected':isSelected}" [attr.value]="_card?.getName()"
  (click)="select()" #cardElement>

  <div *ngIf="!isKQJA()" [ngClass]="{'card__inner':true , 'card__inner--centered':isInnerCentered()}">

    <div *ngIf="getColumnUp().value" class="card__column">
      <div *ngFor="let item of createRange(getColumnUp().value)"
        [ngClass]="{'card__symbol':true,'card__symbol--rotated':isRotated(item)}"></div>
    </div>

    <div *ngIf="getColumnCenter()" [ngClass]="{'card__column':true, 'card__column--centered':!isInnerCentered()}">
      <div *ngFor="let item of createRange(getColumnCenter())"
        [ngClass]="{'card__symbol':true,'card__symbol--big':isBig()}"></div>
    </div>

    <div *ngIf="getColumnDown().value" class="card__column">
      <div *ngFor="let item of createRange(getColumnDown().value)"
        [ngClass]="{'card__symbol':true,'card__symbol--rotated':isRotated(item)}"></div>
    </div>

  </div>
  <div *ngIf="isKQJA()" [ngClass]="{'card__inner':true , 'card__inner--centered':isInnerCentered()}">
    <img src="/assets/{{getCardFullName()}}" alt="">
  </div>
</section>
<section *ngIf="_hidden" [ngClass]="{'card hidden':true,'selected':isSelected}" (click)="select()" #cardElement>
</section>
