<button class="btn btn-round btn-filled-green btn-md" (click)="onStartClick()">Start Game</button>


<div class="game-container" *ngIf="isGameStarted()">
  <div class="table">
    <div class="deck"></div>
    <div class="discard-pile"></div>
  </div>

  <div *ngFor="let hand of hands|keyvalue;let pIndex=index;" class="player player{{pIndex}}">
    <div class="hand">
      <div class="deck">
        <app-card *ngFor="let card of hands[pIndex];let index=index;" [card]="card"
          class="card-{{index}}"></app-card>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
