$menuButtonSize : 30px;
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:white;
  .menu-btn{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: #555;
    height: $menuButtonSize;
    width: $menuButtonSize;
    line-height: $menuButtonSize;
    font-size: 20px;
    text-align: center;
    &:hover{
      background-color: #666;
    }
  }
  .game-menu{
    position: absolute;
    top: $menuButtonSize;
    left: $menuButtonSize;
    background-color: #555;
    padding: 15px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    form{
      margin-bottom: 15px;
    }
  }
}

.table {
  width: 50%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
}

.deck {
  width: 174px;
  height: 242px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  position: relative;

  *{
    position: absolute;
    app-card{
      margin-left: 5px;
    }
  }
}

.discard-pile {
  width: 30%;
  height: 40%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
}

.player {
  width: 26%;
  height: 40%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
}

.hand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.center-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
