.card-sets {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  app-card {
    z-index: 1;
    top: 0px;
    position: absolute;
    width: 0;
    @for $i from 0 through 52 {
      &.card-#{$i} {
        left: 20px * $i;
      }
    }
  }
}

.players {
  min-height: 280px;
  position: relative;
  padding: 10px;
  padding-left: 25px;
}
