.deck {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 260px;
  app-card {
    top: 0px;
    position: absolute;
    @for $i from 0 through 52 {
      &.card-#{$i} {
        left: 10px * $i;
      }
    }
  }
}
